main {
    margin: auto;
    width: 450px;
}

#logo {
    display: block;
    margin: auto;
}

#search-bar {
    box-sizing: border-box;
    width: 450px;
}

#search-btns {
    display: flex;
    justify-content: center;
}